<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tence.admob" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <!--AdMob-->
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${ADMOB_APP_ID}"/>
    </application>
</manifest>
